[Unit]
Description="timer for the user temperature gatherer"
Requires=learning_cleaner.service
[Timer]
Unit=user_temp.service
OnCalendar=*-*-* *:02:00
AccuracySec=20s

[Install]
WantedBy=timers.target