[Unit]
Description="remove the old user data from the currently in use folder"
Wants=learning_cleaner.timer

[Service]
Type=oneshot
Environment=BASHRCPATH= EMSFOLDER=
ExecStart=/usr/bin/bash -c 'source "$BASHRCPATH"; cd $EMSFOLDER; conda activate milp; python -m services.learning_cleaner'

[Install]
WantedBy=multi-user.target                         