[Unit]
Description="timer for the cleaner of machine cycle data"
Requires=learning_cleaner.service
[Timer]
Unit=learning_cleaner.service
OnCalendar=*-*-* *:02:00
AccuracySec=20s

[Install]
WantedBy=timers.target