[Unit]
Description="logs the temperature from user into  the database"
Wants=user_temp.timer

[Service]
Type=oneshot
Environment=BASHRCPATH= EMSFOLDER=
ExecStart=/usr/bin/bash -c 'source "$BASHRCPATH"; cd $EMSFOLDER; conda activate milp; python -m services.temperature_gatherer'

[Install]
WantedBy=multi-user.target                         